{% extends 'core/base.html' %}

{% block content %}

<h1 class="text-3xl">About</h1>


        <p>
            The purpose of this project is to build that kind of web-based task management system that can work smoothly and efficiently. So, that our tasks would be streamlined, through which we can track the process. We can assign and manage tasks in a collaborative environment. User will be able to create, manage and monitor progress of the task which will increase the productivity of organization.
        </p>

{% endblock %}